header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: 1rem 2rem;
    background-color: var(--navds-global-color-blue-100);
    border-bottom: 4px solid var(--navds-global-color-deepblue-200);
}
