body {
    background-color: var(--navds-global-color-gray-100);
    min-height: 100vh;
}

header {
    background-color: white;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
