.kandidatside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.kandidatside--navigering {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.kandidatside--cv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem 3rem;
}

.kandidatside--cv h2 {
    align-self: center;
    margin-bottom: 2rem;
}
