.kandidatside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1rem;
}

.kandidatside--navigering {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.kandidatside--velg-status-desktop {
    display: none;
}

.kandidatside--velg-status-mobil label {
    padding: 0.5rem 0;
}

.kandidatside--velg-status-mobil button {
    margin-top: 1rem;
}

.kandidatside--velg-status-desktop .navds-toggle-group {
    margin-top: 0.5rem;
}

.kandidatside__slettemodal {
    padding: 1.5rem;
    width: 32rem;
}

.kandidatside__knapperISlettemodal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 40rem) {
    .kandidatside--velg-status-desktop {
        display: unset;
    }

    .kandidatside--velg-status-mobil {
        display: none;
    }
}
