.kandidat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.kandidat p:first-of-type {
    margin-top: 0.5rem;
}

.kandidat:not(:last-child) {
    border-bottom: 2px solid var(--a-gray-200);
}

.navn {
    font-size: var(--a-font-size-xlarge);
}

.punkt {
    line-height: 1.75rem;
    font-weight: bold;
}
