.side {
    padding: 1rem;
}

.ikkeFunnet {
    margin: 0 -1rem;
}

.tilbakelenke {
    margin-bottom: 1rem;
}

@media (min-width: 600px) {
    .ikkeFunnet {
        margin: 0;
        padding: 2.5rem 2rem;
    }
}
