.ikke-funnet-side {
    padding: 1rem;
}

.ikke-funnet {
    margin: 0 -1rem;
}

.ikke-funnet__tilbakelenke {
    margin-bottom: 1rem;
}

@media (min-width: 600px) {
    .ikke-funnet {
        margin: 0;
        padding: 2.5rem 2rem;
    }
}
