body {
    background-color: var(--a-gray-100);
    min-height: 100vh;
}

header {
    background-color: white;
}

.side {
    display: flex;
    flex-direction: column;
    max-width: 56rem;
}

.side a {
    align-self: flex-start;

    /* Gi lenker en minimumshøyde på 40px ved vanlig fontstørrelse */
    line-height: 2.5rem;
}

#decorator-header {
    background: white;
}

@media (min-width: 40rem) {
    .side {
        margin: 1rem auto;
        padding: 1rem;
    }
}

@media print {
    #decorator-header,
    #decorator-footer,
    .navbm-bedriftsmeny {
        display: none;
    }

    a[href]:after {
        content: none !important;
    }
}
