body {
    background-color: var(--a-gray-100);
    min-height: 100vh;
}

header {
    background-color: white;
}

.side {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 56rem;
    padding: 1rem;
}

.side a {
    align-self: flex-start;
}

@media (min-width: 40rem) {
    .side {
        padding: 2rem;
    }
}
