apiVersion: nais.io/v1alpha1
kind: Application
metadata:
    name: presenterte-kandidater
    namespace: toi
    labels:
        team: toi
spec:
    # prettier-ignore
    image: {{ image }}
    port: 3000
    ingresses:
        - https://presenterte-kandidater.dev.nav.no/kandidatliste
    liveness:
        initialDelay: 20
        path: /internal/isAlive
    readiness:
        initialDelay: 20
        path: /internal/isReady
