.cv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 1rem;
    margin: 0 -1rem;
}

.cv h2 {
    margin-bottom: 2rem;
}

.personalia {
    display: grid;
    grid-template-columns: 5rem 1fr;
}

.personalia dt {
    font-weight: bold;
}

.gruppe {
    align-self: stretch;
    margin-top: 2rem;
}

.gruppeHeader {
    display: flex;
    align-items: center;
    background-color: var(--a-gray-50);
    gap: 1rem;
    padding: 0.5rem 1.5rem;
    margin: 0 -1rem 2rem;
    border-bottom: 1px solid var(--a-gray-400);
}

.gruppeHeader svg {
    width: 1.5rem;
    height: 1.5rem;
}

.liste {
    line-height: 1.5;
    margin: 0;
    padding: 0 1.5rem;
}

@media (min-width: 40rem) {
    .cv {
        padding: 2.5rem;
        margin: 0;
    }

    .cv h2 {
        align-self: center;
    }

    .gruppe {
        padding: 0 1.5rem;
    }

    .gruppeHeader {
        margin: 0 -1.5rem 2rem;
    }

    .liste {
        column-count: 2;
        column-gap: 2rem;
    }
}
