a.epost {
    text-decoration: none;
    line-height: 1rem;
}

.epost:hover {
    text-decoration: underline;
}

.epostTooltip {
    padding: 0.5rem 1rem;
}

@media print {
    .kontaktinformasjon button {
        display: none;
    }

    .kontaktinformasjon > div {
        height: auto !important;
    }

    .kontaktinformasjon > div > div {
        display: unset !important;
    }
}
