.kandidat-cv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 1rem;
    margin: 0 -1rem;
}

.kandidat-cv h2 {
    margin-bottom: 2rem;
}

.kandidat-cv--gruppe {
    align-self: stretch;
    margin-top: 2rem;
}

.kandidat-cv--gruppe-header {
    display: flex;
    align-items: center;
    background-color: var(--navds-global-color-gray-50);
    gap: 1rem;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid var(--navds-global-color-gray-400);
}

.kandidat-cv--gruppe-header svg {
    width: 1.5rem;
    height: 1.5rem;
}

.kandidat-cv--gruppe-body {
    padding: 1rem 0;
}

.kandidat-cv--gruppe-body ul {
    margin: 0;
    padding: 0 1rem;
}

@media (min-width: 40rem) {
    .kandidat-cv {
        padding: 2.5rem 3rem;
        margin: 0;
    }

    .kandidat-cv h2 {
        align-self: center;
    }

    .kandidat-cv--gruppe-body {
        padding: 1.5rem;
    }
}
