.header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header svg {
    width: 1.5rem;
    height: 1.5rem;
}

.innhold {
    padding: 0;
    border-bottom: none;
}

.kandidater {
    list-style: none;
    padding: 0;
    margin: 0;
}
