.gruppe {
    align-self: stretch;
    margin-top: 2rem;
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--a-gray-50);
    gap: 1rem;
    padding: 0.5rem 1.5rem;
    margin: 0 -1rem 2rem;
    border-bottom: 1px solid var(--a-gray-400);
}

.header svg {
    width: 1.5rem;
    height: 1.5rem;
}

@media (min-width: 40rem) {
    .gruppe {
        padding: 0 1.5rem;
    }

    .header {
        margin: 0 -1.5rem 2rem;
    }
}
