.kandidatlister {
    padding: 1rem;
}

.kandidatlister h2 {
    line-height: 2.5rem;
}

.gruppe {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
}

.gruppe,
.tomGruppe {
    margin-bottom: 3rem;
}

.samtykkelenke {
    display: flex;
    justify-content: center;
}
