.kandidatlister h1 {
    margin-bottom: 1rem;
}

.kandidatlister--gruppe {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
}
