.kandidatside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1rem;
}

.kandidatside a:first-child {
    margin-bottom: 0;
}

.navigering {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.slikVirkerStatusene {
    max-width: 65ch;
}

@media print {
    .slikVirkerStatusene,
    .slettKandidat {
        display: none;
    }
}
